body {
  font-family: monospace, 'Times New Roman', Times, serif;
  background-color: aqua;
  color:rgb(40, 47, 45);
}

div {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
  grid-column: 1/ 5;
  grid-row: 1/ 2;
}

#results {
  grid-column: 1/ 2;
  grid-row: 1/ 7;
}

#about {
  grid-column: 2/ 5;
  grid-row: 4/ 6;
}

footer {
  grid-column: 1/ 5;
  grid-row: 6/ 7;
}

h1 {
  font-size: 3rem;
  color:rgb(34, 50, 44);
  line-height: .8;
  margin: 3rem 0 1rem;
}

section {
  background-color: blue;
  grid-row: 2/4;
  grid-column: 2/5;
}
