.container{
border: 1px solid black;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container div {
  background-color: aliceblue;
  margin: .5rem;
  border: 1px solid black;
}
